@media (max-width: 31.25rem) {/*Mobile*/
    .navbar-header {
        width: 31.25rem;/*Temporary size/Maybe not necessary since overflow-x fixes the issue*/
    }

    .navbar-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .navbar-content-logo {
        display: block;
    }

    .my-logo-home {
        padding: .9375rem .625rem .9375rem .625rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: .5rem 1.25rem .5rem 1.25rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .dropdown-toggle {
        display: block;
        align-items: start;
        justify-content: end;
        padding: 1.25rem .625rem 1.25rem .625rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: .3125rem .3125rem .3125rem .3125rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        background: none;
        border: .0625rem solid blue; /*Temporary visibility of the flex display*/
    }
    .dropdown-toggle:hover {
        cursor: pointer;
    }

    .hamburger-icon {
        width: 3.125rem;
        height: 2.791875rem;
    }

    .dropdown-menu {
        display: none;
        padding: .75rem;
        margin: 0rem .3125rem 0rem 0rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        position: absolute;
        width: 31.25rem;/*Temporary size/Maybe not necessary since overflow-x fixes the issue*/
        right: 0;
        top: calc(100% + .25rem);
        opacity: 0;
        background: #2e3c3f;
        border: .3125rem solid yellow;/*Temporary visibility of the flex display*/
    }
    .dropdown-menu.open {
        display: block;
        opacity: 1;
    }

    .dropdown-menu li {
        display: block;
    }

    .my-about-skills, .my-projects, .my-contact {
        align-items: center;
        text-align: center;
        padding: .3125rem .3125rem .3125rem .3125rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: .3125rem .3125rem .3125rem .3125rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .my-ld-button {
        align-items: center;
        text-align: center;
        padding: .3125rem .3125rem .3125rem .3125rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        margin: .3125rem .3125rem .3125rem .3125rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        font-size: 1.5rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .home-main-wrapper {
        flex-direction: column;
        align-items: center;
        width: 31.25rem;/*Temporary size*/
        margin: .3125rem 0rem 3.125rem 0rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        background-color: #3E3E3E;/*Temporary visibility of the flex display-placeholder green/actual bg-color #3E3E3E*/
    }

    .home-content-image {
        margin: .3125rem 0rem 0rem 0rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .avatar-image {
        margin: .3125rem 3.125rem .3125rem 3.125rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 21.875rem;/*Temporary size*/
        height: 21.875rem;/*Temporary size*/
    }

    .home-title-wrapper {
        align-self: flex-start;
        margin: .3125rem 0rem 0rem -.05rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 31.25rem;/*Temporary size*/
    }

    h1.home-section-title {
        margin: .3125rem 2.9375rem 0rem 2.9375rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        height: 12.8125rem;/*Temporary size*/
        font-size: 3.3125rem;/*Temporary size*/
    }

    .rectangle-back-design {
        margin: 0rem 0rem -5.3125rem -1.9rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 26.5625rem;/*Temporary size*/
        height: 6.25rem;/*Temporary size*/
    }

    .rectangle-front-design {
        margin: 0rem 0rem -6.25rem -.05rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
        width: 26.5625rem;/*Temporary size*/
        height: 6.25rem;/*Temporary size*/
    }

    h2.home-subsection-description {
        margin: .9375rem 2.9375rem 0rem 2.9375rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .home-content-description {
        font-size: 1.9375rem;/*Temporary size*/
    }

    .github-icon {
        margin-top: 0rem;
        margin-bottom: 0rem;
        width: 5.6175rem;/*Temporary size*/
        height: 5.293125rem;/*Temporary size*/
    }

    .home-content-button {
        margin: 0.9375rem 5rem .625rem 5rem;/*Temporary size, change to rem to be dynamically responsive to mobile*/
    }

    .resume-button {
        width: 17.9375rem;/*Temporary size*/
        height: 5rem;/*Temporary size*/
        font-size: 1.5625rem;/*Temporary size*/
    }
}